* {
    margin: 0;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 1vw;
    height: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

::-webkit-scrollbar-corner {
    background-color: none;
}

.slide {
    background-color: purple;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner {
    background-color: darkblue;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: .6vw 1vh 0 0 black;
    border-style: none;
    border-radius: 1vh;
    height: 8vh;
    width: 98vw;
    display: flex;
    align-items: center;
}

.banner .logo {
    width: 10vw;
    height: 8vh;
    /* replace by align-items*/
    text-align: center;
}

.banner .title {
    text-indent: 1vw;
}

.chat {
    background-color: darkkhaki;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: .6vw 1vh 0 0 black;
    border-style: none;
    border-radius: 1vh;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    height: 80vh;
    width: 98vw;
    line-height: 150%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-input {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-field {
    box-shadow: .6vw 1vh 0 0 black;
    text-indent: 1vw;
    background-color: darkcyan;
    border-radius: 1vh;
    border-style: none;
    width: 85vw;
    outline: none
}
.input-field:focus {
    border-color: black
}
.input-field::placeholder {
    color: lightgray;
}

.send-button {
    box-shadow: .6vw 1vh 0 0 black;
    background-color: brown;
    border-radius: 1vh;
    border-style: none;
    color: white;
    width: 10vw;
    outline: none;
}
.send-button:active {
    color: black;
    box-shadow: none;
    transform: translate(.6vw, 1vh);
}

.navbar {
    border-style: solid;
    border-radius: 1vh;
    border-color: darkgray;
    height: 10vh;
}